.cajainicio{
   width: 100%;
   min-height: 80rem;
   display: flex;
}
.usuario{
   width: 100%;
   text-align: center;
   font-size: 30px;
  color:#0092A5;

}
.Container_img{
   width: 99%;
   align-content: center;
}
#img{
   width: 60%;
   animation-name: llegadaDerecha;
    animation-duration: 3s;
}
.containerboton{
  width: 50%;
 display: flex;
align-items: center;
}
#frase{
   margin-top: 5%;
}
.Botones button{
   background-color: #6F52DA ;
   width: 190px;
   border: none;
   border-radius: 25px;
   height: 60px;
   color: cornsilk;
   font-size: 18px;
   letter-spacing: 1px;
   
}
.Botones button:hover{
  color: #6F52DA;
  background-color: #D8D2D2;
  border: 1px solid #6F52DA;
  font-weight: bold;
  cursor: pointer;
}

