.cajainicio{
   width: 100%;
   min-height: 20rem;
   text-align: center;
   display: flex;
}
.usuario{
   width: 100%;
   text-align: center;
   font-size: 13px;
   color:#0092A5;

}

#frase{
   margin-top: 1%;
   padding-top: 2px;
}
#Tittle{
   color: #0092A5;

}
.Container_img4{
   width: 30%;
   align-content: center;
}
#img4{
   width: 40%;
   -webkit-animation-name: llegadaDerecha;
           animation-name: llegadaDerecha;
   -webkit-animation-duration: 3s;
           animation-duration: 3s;
}
.containerbotoninicio{
   display: flex;
	 margin-left: 27%;
	
	
}
.Botones1 button{
   background-color: #6F52DA ;
   width: 170px;
   border: none;
   border-radius: 25px;
   height: 55px;
   color: cornsilk;
   font-size: 15px;
   letter-spacing: 1px;
   cursor: pointer;
  margin-right: 40px;
   
}
.Botones1 button:hover{
  color: #6F52DA;
  background-color: #D8D2D2;
  border: 1px solid #6F52DA;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 425px) {
   .cajainicio  {
      margin-left: 20px;
   }
 }


