.cajaestadistica {
	width: 100%;
	min-height: 20rem;
	text-align: center;
	display: flex;
}


#img {
	margin-top: 10%;
	margin-left: 99%;
	width: 120%;
	align-content: center;
	-webkit-animation-name: llegadaDerecha;
	        animation-name: llegadaDerecha;
	-webkit-animation-duration: 3s;
	        animation-duration: 3s;
}


.Botones button {
	background-color: #6F52DA ;
    width: 180px;
    border: none;
    border-radius: 25px;
    height: 55px;
    color: cornsilk;
    font-size: 22px;
    letter-spacing: 1px;
    cursor: pointer;

}

.Botones button:hover {
	color: #6F52DA;
	background-color: #D8D2D2;
	border: 1px solid #6F52DA;
	font-weight: bold;
	cursor: pointer;
}