.cajalocalidad{
	width: 100%;
	min-height: 30rem;
	text-align: center;
	display: flex;
 }
 .Contenidolocalidad{
	width: 70%;
  height: 55vh;
  margin-top:4%;
	margin-left:14%;
	
}

 .containerbotonlocalidad{
  display: flex;
  margin-left: 20%;
  margin-top: 2%;
}
 
 .Botoneslocalidad button{
  background-color: #6F52DA ;
  width: 170px;
  border: none;
  border-radius: 25px;
  height: 55px;
  color: cornsilk;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
margin-right: 40px;
	
 }
 .Botoneslocalidad button:hover{
  color: #6F52DA;
	background-color: #D8D2D2;
	border: 1px solid #6F52DA;
	font-weight: bold;
	cursor: pointer;
	margin-right: 40px;
 }
 
 