
.ContainerAforo{
    
    width: 90%;
    padding: 0 2% 1% 4%;
    color: brown;
    font-size: 29px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Grafica {
    height: 300px;
}
#aforo_img{
    align-items: center;
    justify-content: center;
    
    height: 190px;
    
}