
.ContainerAforo{
    /*width: 100%;*/
    padding: 0 2% 3% 4%;
    font-size: 29px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 63vh;
}
.Contenedor_grafica_ilustracion{
    display: grid;
    display: flex;
    grid-template-columns: repeat(2,1fr); 
    align-items: center;
}
.contador{
    font-size: 18px;
    padding-top: 55px;
    padding-bottom: 35px;
}
.Grafica {
    height: 350px;
    width: 100%;
}
#aforo_img{
    align-items: center;
    justify-content: center;
    height: 260px;
    width: 100vh;
    
}