header {
	width: 80%;	
	align-items: center;
 }
 .cajaheader{
	text-align: center;	
	-webkit-animation-name: llegadaAbajo;	
	        animation-name: llegadaAbajo;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
 }

 .Container_imgcity{
	width: 10%;
	align-content: center;

 }

 #imgcity{
	width: 200px;
	height: 80px;
 }


 .Container_imgglobal{
	width: 100%;
	align-content: center;
 }
#imgglobal{
		width: 200px;
		height: 80px;
	 }

.Container_imgkuepa{
	width: 10%;
	align-content: center;
 }

 #imgkuepa{
	width: 200px;
	height: 120px;
 }
 
 @keyframes llegadaAbajo{
	0%{
		opacity: 0;
		transform:translateY(-100px) ;
	}
	60%{
		opacity: 0.8;
		transform: translateY(40px)
	}

	100%{
		opacity: 1;
		transform: translateY(0);
	}
 }
 .logo{
	display:grid;
	grid-template-columns: repeat(3,1fr);
	width: 100%;
	height: 13vh;
	justify-content:space-around;
	align-items: center;
	justify-items: center;
 }
 @keyframes llegadaAbajo1 {
	0%{
		opacity: 0;
		transform:translateY(-80px) ;
	}
	60%{
		opacity: 0.8;
		transform: translateY(10px)
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
 }



 

