.Container_Footer{
   align-items: flex-end;
}
.BannerNaranja{
   background-color: #E86433 ;
   display: flex;
   height: 12vh;
   width: 100%;
   align-items: center;
   justify-content: center;
   align-content: center;
   text-align: center;
}
#futuro2{
   height: 160px;
}
#futuro1{
   height: 110px;
}
.Pie_pagina {
   width: 100%;
   height: 5rem;
   background-color: #6F52DA;
   color: blanchedalmond;
   text-align: center;
   padding-top: 20px;
   height: 35px;
   flex-direction: row;
   display: flex;
   justify-content: space-between;
}
#banner{
   width: 100%;
   height: 170px;
}
.Pie_pagina img{
   height: 25px;
   width: 25px;
}
.Imagenes{
   display: grid;
   grid-template-columns: repeat(6,5fr);
   width: 30%;
   margin: 0 0 6% 4%; 
}
.Textos{
   width: 70%;
   justify-content: flex-end;
   display: flex;
   flex-direction: column;
}
.Textos p{
   justify-content: flex-end;
   margin: 0.2% 4% 0.3% 0;  
}
#frases{
   color: white;
}
/*RESPONSIVE*/
@media screen and (min-width:375px) and (max-width:425px){
   .BannerNaranja{
      display: grid;
      grid-template-columns: repeat(2,1fr);
   }
   #futuro2{
      height: 120px;
      width: 240px;
   }
   #futuro1{
      height: 80px;
   }
   .Pie_pagina{
      height: 10%;
   }
   .Imagenes{
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(2,1fr);
   }
   #frases{
      font-size: 13px;
      margin: 0;
   }
   .Textos{
      justify-content: center;
      align-content: center;
      display: grid;
      grid-template-rows: repeat(2,1fr);
      align-items: baseline;
   }

}
@media screen and (min-width:426px) and (max-width:700px){
   .BannerNaranja{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      justify-items: center;
   }
   #futuro2{
      height: 100%;
      width: 100%;
   }
   #futuro1{
      height: 105px;
   }
   .Pie_pagina{
      height: 10%;
   }
   .Imagenes{
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(2,1fr);
   }
   #frases{
      font-size: 15px;
      margin: 0;
      padding-right: 25px;
   }
   .Textos{
      justify-content: center;
      align-content: center;
      display: grid;
      grid-template-rows: repeat(2,1fr);
      align-items: baseline;
   }
}
@media screen and (min-width:700px) and (max-width:1200px){
   #frases{
      font-size: 14px;
      margin: 0;
      padding-right: 25px;
   }
   .Textos{
      align-items: center;
   }
}