
.ContainerEdad{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    height: 69vh;
}
.Conjunto{
    display: flex;
    align-items: center;
   display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.Grafica1 {
    height: 400px;
    padding-left: 20%;
    padding-bottom: 12px;
}
.ContainerBoton1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    display: flex;
    width: 100%;
}
#edad_img{
    height: 250px;
    padding-left: 20%;
    display: flex;
}
