.cajaindex{
   background-size: cover;
   width: 100%;
   min-height: 39rem;
   text-align: center;
   display: flex;
   height: 65vh;
   
}
.Container_img_chica{
   width: 50vh;
}
#img1{
   width: 100%;
   height: 69vh;
   padding-left: 25%;
   -webkit-animation-name: llegadaDerecha;
           animation-name: llegadaDerecha;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;

}
.Contenido{
   width: 50vh;
   font-size: 22px;
   margin-left: 7%;
   height: 70vh;
}
#frase{
   margin-top: 2%;
   padding-top: 7px;
}
#Tittle{
   color: #0092A5;
}
 .BotonesA button{
    background-color: #6F52DA ;
    width: 150px;
    border: none;
    border-radius: 25px;
    height: 45px;
    color: cornsilk;
    font-size: 18px;
    letter-spacing: 1px;
 }
 .Botones button:hover{
   color: #6F52DA;
   background-color: #D8D2D2;
   border: 1px solid #6F52DA;
   font-weight: bold;
   cursor: pointer;
}
#img3{
   width: 40%;
   height: 150px;
   -webkit-animation-name: llegadaDerecha;
           animation-name: llegadaDerecha;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
}
@-webkit-keyframes llegadaDerecha {
   0%{
       opacity: 0;
       transform:translateX(1000px) ;
   }
   60%{
       opacity: 0.8;
       transform: translateX(-80px)
   }
   80%{
       opacity: 0.9;
       transform: translateX(15px);
   }
   100%{
       opacity: 1;
       transform: translateX(0);
   }
}
@keyframes llegadaDerecha {
   0%{
       opacity: 0;
       transform:translateX(1000px) ;
   }
   60%{
       opacity: 0.8;
       transform: translateX(-80px)
   }
   80%{
       opacity: 0.9;
       transform: translateX(15px);
   }
   100%{
       opacity: 1;
       transform: translateX(0);
   }
}

