.cajaindex{
   background-size: cover;
   width: 100%;
   min-height: 36rem;
   text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
   height: 64vh;
   justify-items: center;
   align-content: center;
}
.Container_img_chica{
   width: 50vh;
   height: 50vh;
}
#img1{
   width: 80%;
   height: 63vh;
   padding-left: 25%;
   -webkit-animation-name: llegadaDerecha;
           animation-name: llegadaDerecha;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;

}
.Contenido1{
   font-size: 22px;
   height: 62vh;
   width: 100%;
   margin-right: 35%;
   
}
#frase{
   margin-top: 4%;
   padding-top: 7px;
}
#Tittle, #Tittle p {
   color: #0092A5;
   font-weight: bold;
   padding-top: 5px;
}
.ContenidoBotonR{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   margin: 30px;

}
 .BotonesA button{
    background-color: #6F52DA ;
    width: 170px;
    border: none;
    border-radius: 25px;
    height: 55px;
    color: cornsilk;
    font-size: 22px;
    letter-spacing: 1px;
    cursor: pointer;
 }
 .Botones button:hover{
   color: #6F52DA;
   background-color: #D8D2D2;
   border: 1px solid #6F52DA;
   font-weight: bold;
   cursor: pointer;
}
#img3{
   width: 100%;
   height: 150px;
   -webkit-animation-name: llegadaDerecha;
           animation-name: llegadaDerecha;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
}
@-webkit-keyframes llegadaDerecha {
   0%{
       opacity: 0;
       transform:translateX(1000px) ;
   }
   60%{
       opacity: 0.8;
       transform: translateX(-80px)
   }
   80%{
       opacity: 0.9;
       transform: translateX(15px);
   }
   100%{
       opacity: 1;
       transform: translateX(0);
   }
}
@keyframes llegadaDerecha {
   0%{
       opacity: 0;
       transform:translateX(1000px) ;
   }
   60%{
       opacity: 0.8;
       transform: translateX(-80px)
   }
   80%{
       opacity: 0.9;
       transform: translateX(15px);
   }
   100%{
       opacity: 1;
       transform: translateX(0);
   }
}

